<h1>Philosophy</h1>
<section id="philosophy">
  <div class="section-column">
    <h3>Non-opinionated</h3>
    <p>Crane doesn't drink the ORM Kool Aid: You won't spend a single minute
    struggling with an interface that claims to be &ldquo;simple&rdquo; yet
    forces you into a limited vision of how databases should work.</p>
    <p>To make simple queries, Crane has a <a href="#high-level">simple interface</a>.
    For more complex stuff, use the <a href="#sxql">SQL query DSL</a>. If you
    like plain old fashioned SQL, you can use that too &mdash; Crane doesn't
    judge.</p>
  </div>
  <div class="section-column">
    <h3>Explicit without being verbose</h3>
    <p>Crane doesn't create tables you don't know about, implicitly follow
    relations, or generate any unexpected SQL. There are no surprises here.</p>
  </div>
</section>
<h1>Usage</h1>
<section id="usage">
  <% @loop usage %>
    <div class="example">
      <h2 id="<% @var id %>"><% @var name -escape raw %></h2>  
      <div class="description">
        <p><% @var desc %></p>
      </div>
      <div class="code">
        <pre><code class="lisp"><% @var code -escape raw %></code></pre>
      </div>
    </div>
  <% @endloop %>
</section>
