<section id="philosophy">
  <h1>Philosophy</h1>
  <div>
    <span>Not opinionated</span>
    <p>Crane doesn't drink the ORM Kool Aid: You won't spent a single minute
    struggling with an interface that claims to be "simple" yet forces you into
    a limited vision of how databases should work.</p>
    <p>To make simple queries, Crane has a simple interface. For more complex
    stuff, use the <a href="https://github.com/fukamachi/sxql">SQL query DSL</a>. If
    you like plain old fashioned SQL, you can use that too &mdash; Crane doesn't
    judge.</p>
  </div>
  <div>
    <span>Explicit without being verbose</span>
    <p>Crane doesn't create tables you don't know about, implicitly follow
    relations, or generate any unexpected SQL. There are no surprises here.</p>
  </div>
</section>
<section id="usage">
  <h1>Usage</h1>
  <div>
    <span>Configuring and Connecting</span>
    <p>
    </p>
    <pre><code class="lisp"></code></pre>
  </div>
</section>
