<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><% @var title %></title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http//cdn.jsdelivr.net/typeplate/1.1.2/typeplate.min.css">
  <link rel="stylesheet" href="web/style.css">
  <script type="text/javascript" src="highlight-lisp/highlight-lisp-master/highlight-lisp.js"></script>
  <link rel="stylesheet" href="highlight-lisp/highlight-lisp-master/themes/github.css">
</head>
