<!DOCTYPE html>
<html lang="en">
  <% @call head %>
  <body>
    <header>
      <div id="names">
        <span id="title">Crane</span>
        <span id="subtitle">An ORM for Common Lisp</span>
      </div>
      <div id="editor">
        <div id="bar">
          <ul>
            <li><div id="close" class="circle"></div></li>
            <li><div id="minimize" class="circle"></div></li>
            <li><div id="maximize" class="circle"></div></li>
          </ul>
        </div>
        <div id="text">
          <pre><code class="lisp">(deftable user ()
  (name :type string :uniquep t)
  (age  :type integer :indexp t)
  (company :foreign-key 'company :nullp nil))

(loop for user in (filter 'user (:< :age 25)) do
  (format t "Company: ~A~&"
          (name (deref (company user)))))</code></pre>
        </div>
      </div>
    </header>
    <% @call features %>
    <footer>
      © 2014 <a href="http://github.com/eudoxia0">Fernando Borretti</a>
    </footer>
    <script>
     HighlightLisp.highlight_auto();
    </script>
  </body>
</html>
