body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

header {
    font-size: 26px;
    margin: 35px auto;
    width: 70%;

    #name {
        font-weight: 400;
    }

    #subtitle {
        font-weight: 300;
    }
}

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin uniform-shadow($offset, $color) {
    -moz-box-shadow: $offset $offset $offset $offset $color;
    -webkit-box-shadow: $offset $offset $offset $offset $color;
    -ms-border-radius: $offset $offset $offset $offset $color;
    box-shadow: $offset $offset $offset $offset $color;
}

#editor {
    font-size: 13px;
    width: 40%;
    margin-top: 30px;

    $bar-height: 20px;
    $circle-diam: 10px;
    $titlebar-color: #F5F5F5;

    #bar {
        height: $bar-height;
        background: $titlebar-color;
        position: relative;

        @include border-top-radius(13px);

        .circle {
	    @include border-radius(50%);
	    width: $circle-diam;
	    height: $circle-diam;
            position: absolute;
            top: 5px;
        }

        ul {
            padding: 0;
        }
        
        li {
            list-style: none;
        }
    }

    #text {
        border: 1px solid black;

        pre {
        }

        code {
        }
    }
}

#close {
    background: #FF504D;
    left: 10px;
}

#minimize {
    background: #E8C460;
    left: 25px;
}

#maximize {
    background: #70FF6E;
    left: 40px;
}

#features {
    div {
        padding-left: 45px;
        span {
            font-size: 28px;
        }
        p {
            width: 50%;
            text-align: justify;
        }
    }
}

footer {
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: 30px;
    height: 50px;
    position: absolute;
    bottom: 0;
}
