/* Mixins */

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin column($width, $padding) {
    float: left;
    width: $width;
    padding: 0 $padding;
}

/* Styles */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

a {
    color: #5DB5DE;
}

h1 { margin-left: 40px; }

header {
    font-size: 26px;
    padding-top: 60px;
    z-index: -1;

    #names {
        text-align: center;

        #title {
            font-weight: 400;
        }
        
        #subtitle {
            font-weight: 300;
        }
    }

    #links {
        width: 60%;
        margin: 20px auto;
        text-align: center;

        a {
            border: 1px solid #ccc;
            @include border-radius(3px);
            padding: 2px 10px;
            text-decoration: none;
            font-size: 13px;
        }
    }
}

#editor {
    $bar-height: 20px;
    $width: 420px;
    $circle-diam: 10px;
    $titlebar-color: #eee;
    $background-color: #fff;

    font-size: 13px;
    width: $width;
    margin: 40px auto 0;

    #bar {
        height: $bar-height;
        background: $titlebar-color;
        position: relative;

        @include border-top-radius(7px);

        .circle {
        @include border-radius(50%);
        width: $circle-diam;
        height: $circle-diam;
            position: absolute;
            top: 5px;
        }
        
        li {
            list-style: none;
        }

        #close {
            background: #FF504D;
            left: 10px;
        }

        #minimize {
            background: #E8C460;
            left: 25px;
        }

        #maximize {
            background: #70FF6E;
            left: 40px;
        }
    }

    #text {
        border: 1px solid $titlebar-color;
        background-color: $background-color;

        pre {
            margin: 5px;
            padding: 5px;
            border: 0px;
            background-color: $background-color;
        }
    }
}

.drop-shadow {
    @include border-top-radius(7px);

    -webkit-box-shadow: 0px 10px 50px 1px rgba(0,0,0,0.25);
       -moz-box-shadow: 0px 10px 50px 1px rgba(0,0,0,0.25);
            box-shadow: 0px 10px 50px 1px rgba(0,0,0,0.25);
}

main {
    z-index: 1;
    background: #f9f9f9;

    h1 {
        padding: 35px 0 0 65px;
        margin: 0;
    }
}

section {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;

    .section-column {
        @include column(40%, 5%);
    }
    
    p {
        text-align: justify;
    }

    .example {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;

        .description {
            @include column(50%, 0%);
        }
        .code {
            @include column(40%, 5%);
        }
    }
}


footer {
    text-align: center;
    font-size: 14px;
    width: 100%;
    bottom: 0;
    background-color: #000000; 
    color: #f9f9f9;
    padding-top: 15px;
    padding-bottom:  15px;
    position: relative;

    a {
        color: #f9f9f9;
        text-decoration: none;
        border-bottom: 1px solid #f9f9f9;
    }
}

.strip {
    top: 0;
    height: 3px;
    width: 100%;
    position: absolute;
}

.strip-one {
    width: 40%;
    height: 3px;
    float: left;
    background-color: #30D8F0;
}

.strip-two {
    width: 30%;
    height: 3px;
    float: left;
    background-color: #9AE4E8;
}

.strip-three {
    width: 20%;
    height: 3px;
    float: left;
    background-color: #C3F0F2;
}

.strip-four {
    width: 10%;
    height: 3px;
    float: left;
    background-color: #DDFFCC;
}
