/* Mixins */

@mixin border-top-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -moz-border-top-right-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -ms-border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin column($width, $padding) {
    float: left;
    width: $width;
    padding: 0 $padding;
}

/* Styles */

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #444;
}

h1 { margin-left: 40px; }

header {
    font-size: 26px;
    margin-top: 60px;
    z-index: -1;

    #names {
        text-align: center;

        #title {
            font-weight: 400;
        }
        
        #subtitle {
            font-weight: 300;
        }
    }
}

#editor {
    $bar-height: 20px;
    $width: 420px;
    $circle-diam: 10px;
    $titlebar-color: #F5F5F5;
    $background-color: #fff;

    font-size: 13px;
    width: $width;
    margin: 40px auto;

    #bar {
        height: $bar-height;
        background: $titlebar-color;
        position: relative;

        @include border-top-radius(7px);

        .circle {
	    @include border-radius(50%);
	    width: $circle-diam;
	    height: $circle-diam;
            position: absolute;
            top: 5px;
        }
        
        li {
            list-style: none;
        }

        #close {
            background: #FF504D;
            left: 10px;
        }

        #minimize {
            background: #E8C460;
            left: 25px;
        }

        #maximize {
            background: #70FF6E;
            left: 40px;
        }
    }

    #text {
        border: 1px solid $titlebar-color;
        background-color: $background-color;

        pre {
            margin: 5px;
            padding: 5px;
            border: 0px;
            background-color: $background-color;
        }
    }
}

main {
    z-index: 1;
    background: #f9f9f9;

    h1 {
        padding: 35px 0 0 65px;
        margin: 0;
    }
}

section {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;

    .section-column {
        @include column(40%, 5%);
    }
    
    p {
        text-align: justify;
    }

    .example {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;

        .description {
            @include column(50%, 0%);
        }
        .code {
            @include column(40%, 5%);
        }
    }
}

footer {
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: 30px;
    height: 50px;
    bottom: 0;
}
